{% extends 'listado/base.html' %}

{% block body %}
<header>
    <h2 class=" mt-5 text-center text-light">Lista de Tareas</h2>
</header>
<div class="wrap" id="tasks">
    <ul class="list-group" id="ul-tasks">      
    </ul>
    <div class="boton d-flex justify-content-center">
        <a href="#" onclick="ver_formulario()" class="btn btn-success ">Agregar tarea</a>
    </div>
</div>  

<div class="row mt-5" id="tasks-realizadas">
    <div class="col-lg-6 ">
        <h4 class="text-light text-center m-5">Realizadas</h4>

        <ul class="list-group">
            {% if realizada %}
                {% for realizada in realizada %}
                    <li class="list-group-item mb-2">
                        {{realizada.titulo}}
                    </li>
                {% endfor %}
            
            {% else %}
                <span class="text-light text-center ">No hay tareas Teminadas</span>
            {% endif %}
                
                
        </ul>
    </div>
    <div class="col-lg-6">
        <h4 class="text-light text-center m-5">Eliminadas</h4>

        <ul class="list-group">
            {% if eliminadas %}
                {% for eliminado in eliminadas %}
                    <li class="list-group-item mb-2">
                        {{eliminado.titulo}}
                    </li>
                {% endfor %}
            {% else %}
                <span class="text-light text-center ">No hay tareas Eliminadas</span>
            {% endif %}
                
    </div>
    </ul>
</div>

<div id="formulario-agregar">
    <div class="wrap vh-100 ">
        <form  id="formulario">
          {% csrf_token %}
          <div class="mt-3">
            <h3 class="text-light text-center"> Agregar nueva tarea </h3>
          </div>
          <div class="mb-3">
            <label for="titulo" class="form-label text-light">Agregar titulo:</label>
            <input type="text" name="titulo" placeholder="Titulo" class="form-control" id="titulo">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label text-light">Descripcion</label>
            <input type="text" name="descripcion" placeholder="Agregar tarea" class="form-control" id="descripcion">
          </div>
          <input value="Agregar" type="submit" class="btn  btn-success">
        </form>
   </div>
</div>
{% endblock body %}
    