{% extends 'listado/base.html' %}

{% block body %}
<header>
    <h2 class=" mt-5 text-center text-light">Lista de Tarea</h2>
</header>
<div class="wrap">
    <ul class="list-group">
        {% if tasks %}
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between mb-2">
                    {{ task.titulo }}
                    <div class="iconos d-flex">
                        <a href="{% url 'realizada' task.id %}" class="d-flex">
                            <span class="material-symbols-outlined done">
                                done
                            </span>
                        </a>
                        <!-- &nbsp; -->
                        <a href="{% url 'eliminar' task.pk %}" class="d-flex mx-2">
                            <span class="material-symbols-outlined trash">
                                delete
                            </span>
                        </a>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                    <span class="text-light text-center m-5">No hay tareas pendientes</span>
            {% endif %}
            
      
    </ul>
    <div class="boton d-flex justify-content-center">
        <a href="{% url 'agregar' %}" class="btn btn-success ">Agregar tarea</a>
    </div>
</div>  

<div class="row mt-5">
    <div class="col-lg-6 ">
        <h4 class="text-light text-center m-5">Realizadas</h4>

        <ul class="list-group">
            {% if realizada %}
                {% for realizada in realizada %}
                    <li class="list-group-item mb-2">
                        {{realizada.titulo}}
                    </li>
                {% endfor %}
            
            {% else %}
                <span class="text-light text-center ">No hay tareas Teminadas</span>
            {% endif %}
                
                
        </ul>
    </div>
    <div class="col-lg-6">
        <h4 class="text-light text-center m-5">Eliminadas</h4>

        <ul class="list-group">
            {% if eliminadas %}
                {% for eliminado in eliminadas %}
                    <li class="list-group-item mb-2">
                        {{eliminado.titulo}}
                    </li>
                {% endfor %}
            {% else %}
                <span class="text-light text-center m-5">No hay tareas Eliminadas</span>
            {% endif %}
                
    </div>
    </ul>
</div>

{% endblock body %}
    